@font-face {
    font-family: Pixel;
    src: url("../fonts/Minecraft-Regular.woff");
}
html {
    background-image: linear-gradient(to right, rgba(0, 0, 0, 1),rgba(0, 0, 0, .7)) , url("../img/buttons/background.jpg");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
body {
    font-family: Pixel;
}
table {
    margin-top: 2.5%;
    margin-left: 10%;
}
table, tr {
    border-bottom: solid rgba(255, 255, 255, .1) 3px;
    border-collapse: collapse;
    height: 300px;
}
.input {
    font-family: inherit;
}
.info {
    color: white;
    vertical-align: middle;
    width: 20%;
}
.img {
    width: 20%;
}
.title {
    color: white;
    font-size: xxx-large;
    margin-left: 10%;
}
.subtitle {
    color: white;
    font-size: x-large;
    margin-left: 10%;
    margin-top: -5%;
}
.specs{
    color: white;
    vertical-align: top;
    width: 20%;
    margin-left: 15%;
}
.stat {
    font-size: large;
}
.info {
    font-size: x-large;
}
.text {
    margin-top: -10%;
    margin-left: 13%;
}
.rarity {
    font-size: xx-large;
}
.common {
    background: -webkit-linear-gradient(#ffffff, #ababab);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.rare {
    background: -webkit-linear-gradient(#37ff6e, #00ff51);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: -10%;
}
.unique {
    background: -webkit-linear-gradient(#ff9900, #ff5900);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
:hover {
    cursor: url("../cursor/MDPointer.cur"), pointer;
}
:focus {
    cursor: url("../cursor/MDText.cur"), pointer;
}
.button {
    background-image: linear-gradient(rgba(0, 0, 0, .4),rgba(0, 0, 0, .4)) , url("../img/buttons/return_button.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100px;
    width: 100px;
    border: none;
    margin-top: 2%;
    margin-left: 2%;
    position: fixed;
}.letter {
     background-image: linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .6)) , url("../img/buttons/letter.png");
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
     color: #565454;
     font-family: inherit;
     font-size: xxx-large;
     height: 70px;
     width: 70px;
     border: none;
     margin-top: 2.7%;
    margin-left: .5%;
     padding-left: .5%;
     padding-top: .5%;
 }
 .letter:hover {
     background-image: linear-gradient(rgba(0, 0, 0, .5),rgba(0, 0, 0, .5)) , url("../img/buttons/letter.png");
     color: #696868;
 }
 .first {
     margin-left: 10%;
 }
 .point {
     padding-bottom: .5%;
     width: 3%;
     height: 3%;
 }
.zoom {
    transition: transform .3s;
}
.zoom:hover {
    transform: scale(1.1);
}
.null {
    visibility: hidden;
}