html{
    background-image: url("https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/games_15/nintendo_switch_download_software_1/H2x1_NSwitchDS_MinecraftDungeons.jpg ");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
form {
    text-align: center;
    margin-top: 18%;
    font-family: "Yu Gothic Medium", serif;
}
div.parent_container{
    text-align: center;
    width: 30%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: transparent;
}
div.container{
    text-align: center;
    width: 100%;
    height: 100%;
    margin-right: auto;
    margin-left: auto;
    background-color: rgba(0, 0, 0, 0.6);
    border-radius: 20px;
}
.login{
    border-radius: 15px;
}
/*.login.label{
    color: white;
    font-weight: bold;
    font-size: x-large;
    width: 40%;
    text-align: center;
}*/
.login.input{
    background-color: black;
    color: white;
    opacity: .9;
    border-color: black;
    border-style: solid;
    font-size: x-large;
    width: 90%;
    text-align: center;
}
.login.input.text{
    margin-top: 3%;
    margin-bottom: 1.5%;
}
.login.input.password{
    margin-top: 1.5%;
    margin-bottom: 3%;
}
.login.button{
    background-color: black;
    color: white;
    border-color: transparent;
    font-size: xxx-large;
    margin-top: 30%;
}
.login.ref{
    background-color: orangered;
    color: orange;
    font-size: x-large;
}